# ESP32-S3 USB Serial/JTAG (VID 303a, PID 1001). Add ATTRS{serial} for multiple boards.
SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", SYMLINK+="m5stick-s3", TAG+="systemd", ENV{SYSTEMD_WANTS}+="s3-display.service"
